.botao-registra{
    width: 30%;
    padding-top: 20px;
    margin-left: 35%;
    display: inline-block;
}

.data{
    height: 100px;
    width: 90%;
    margin: 30px auto;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.hora{
    height: 100px;
    width: 90%;
    margin: 20px auto;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.razao{
    height: 30px;
    width: 90%;
    display: inline block;
    margin-left: 50%;
}

.razao label{
    display: block;
    padding-top: 5px;
}